@import models.user.User
@import models.user.UserCurrentRegionTable
@import play.api.libs.json.Json

@(title: String, version: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <style>
            .no-js #loader { display: none;  }
            .js #loader { display: block; position: absolute; left: 100px; top: 0; }
            .loader {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url('/assets/images/loader.gif') center no-repeat #fff ;
            }
    </style>
    <div class="loader"></div>
    <div id="map-holder">
        <div id="viz-map"></div>
        <div id="map-label-legend">
            <table class="table filter">
                <tr>
                    <td></td>
                    <td colspan="2" align="left" style="font-weight:bold">Label Type</td>
                    <td colspan="2" align="left" style="font-weight:bold">Severity</td>
                </tr>
                <tr>
                    <td id="map-legend-curb-ramp" width="12px"></td>
                    <td width="190px">Curb Ramp</td>
                    @*<td width="12px"  align="center"><input type="checkbox" value="displaylabel" id="curbramp" checked="true" onclick = "dataviz.toggleLayers('CurbRamp', 'curbramp', '#curb-ramp-slider')"></td>*@
                    @*<td width="126px"align="center"><div id = "curb-ramp-slider" style="margin-top:3px"></div></td>*@
                    @*<td width="60px" align= "center" ><span id="curb-ramp-severity-label">All</span></td>*@

                </tr>
                <tr>
                    <td id="map-legend-no-curb-ramp"></td>
                    <td>Missing Curb Ramp</td>
                    @*<td><input type="checkbox" value="displaylabel" id="missingcurbramp" checked="true" onclick = "dataviz.toggleLayers('NoCurbRamp', 'missingcurbramp', '#missing-curb-ramp-slider')"></td>*@
                    @*<td align="left"><div id = "missing-curb-ramp-slider" style="margin-top:3px"></div></td>*@
                    @*<td align= "center"><span id="missing-curb-ramp-severity-label">All</span></td>*@
                </tr>

                <tr>
                    <td id="map-legend-obstacle"></td>
                    <td>Obstacle in Path</td>
                    @*<td><input type="checkbox" value="displaylabel" id="obstacle" checked="true" onclick="dataviz.toggleLayers('Obstacle', 'obstacle', '#obstacle-slider')"></td>*@
                    @*<td align="left"><div id = "obstacle-slider" style="margin-top:3px"></div></td>*@
                    @*<td align= "center"><span id="obstacle-severity-label">All</span></td>*@
                </tr>
                <tr><td id="map-legend-surface-problem"></td>
                    <td>Surface Problem</td>
                    @*<td><input type="checkbox" value="displaylabel" id="surfaceprob" checked="true" onclick="dataviz.toggleLayers('SurfaceProblem', 'surfaceprob', '#surface-problem-slider')"></td>*@
                    @*<td align="left"><div id = "surface-problem-slider" style="margin-top:3px"></div></td>*@
                    @*<td align="center"><span id="surface-problem-severity-label">All</span></td>*@
                </tr>
                <tr>
                    <td id="map-legend-other"></td>
                    <td>Other</td>
                    @*<td><input type="checkbox" value="displaylabel" id="other" checked="true" onclick="dataviz.toggleLayers('Other', 'other', '#other-slider')"></td>*@
                    @*<td align="left"><div id = "other-slider" style="margin-top:3px"></div></td>*@
                    @*<td align= "center"><span id="other-severity-label">All</span></td>*@
                </tr>
                <tr>
                    <td id="map-legend-occlusion"></td>
                    <td>Can't see sidewalk</td>
                    @*<td><input type="checkbox" value="displaylabel" id="occlusion" checked="true" onclick="dataviz.toggleLayers('Occlusion', 'occlusion', '#occlusion-slider')"></td>*@
                </tr>
                <tr>
                    <td id="map-legend-nosidewalk"></td>
                    <td>No Sidewalk</td>
                    @*<td><input type="checkbox" value="displaylabel" id="nosidewalk" checked="true" onclick="dataviz.toggleLayers('NoSidewalk', 'nosidewalk', '#no-sidewalk-slider')"></td>*@
                </tr>
                <!--<tr>
                    <td id="map-legend-audited-street"></td>
                    <td>Audited Street</td>
                    <td><input type="checkbox" value="displaylabel" id="auditedstreet" checked="true" onclick="dataviz.toggleAuditedStreetLayer();"></td>
                </tr>-->
            </table>
        </div>
    </div>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/d3.v3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/c3.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/DataViz/src/DataViz2.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesSidewalk.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/SVLabel/src/SVLabel/util/UtilitiesColor.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/lib/turf.min.js")'></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>

    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href='@routes.Assets.at("stylesheets/dataviz.css")' rel="stylesheet"/>
    <script>
            $(document).ready(function () {

                var difficultRegionIds = @Json.toJson(UserCurrentRegionTable.difficultRegionIds);
                window.dataviz = DataViz2(_, $, c3, turf, @version);


            });
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            })
    </script>
}