@import models.user.User
@import models.sidewalk.Populator

@(title: String, user: Option[User] = None)

<!DOCTYPE html>
<html>
    <head>
        <title>Drawing Tools</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
                /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
                #map {
                    height: 100%;
                }
                /* Optional: Makes the sample page fill the window. */
                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>



        <div id="map" style="height:75%"></div>

        <button onclick="roadPanoClick()">RoadPano</button>
        <button onclick="labelPanoClick()">LabelPano</button>
        <br>
        <button onclick="prevClick()">Prev</button>
        <button onclick="nextClick()">Next</button>
        <br>
        <button onclick="rightClick()">Right</button>
        <button onclick="leftClick()">Left</button>
        <input type="checkbox" id="street-incorrect">
        <label for="street-incorrect">an incorrect street was chosen</label>

        <br>
        Label Number To Go To: <input type="text" id="label-to-go-to" value="">
        <button onclick="gotoLabel()">Go!</button>
        <br>
        <div style = "word-wrap: break-word; white-space: pre" id = "label-number"></div>
        <br>

        <!-- putting in the labels -->

        <!--                  0           1         2         3         4          5             6             7             8  -->
        <!-- this contains label_id, label lat, label lng, pano lat, pano lng, road bearing, pano bearing, pano pitch, and label type, seperated by ','. Each entry is seperated by '|' -->
        <div id="labels-info" style = "word-wrap: break-word; white-space: pre">
            @for(label: (Int, Boolean, Float, Float) <- Populator.getAllLabelsFromAlgorithmTable()){
                @label._1, @Populator.getPositionFromId(label._1)._1, @Populator.getPositionFromId(label._1)._2, @Populator.getPanoPositionFromId(label._1)._1, @Populator.getPanoPositionFromId(label._1)._2, @label._3, @label._4, @Populator.getPanoPitchFromId(label._1), @Populator.getLabelTypeFromId(label._1)|
            }
        </div>

        <!-- this contains the streetPoints, where:
                    each point lat/long is separated by a ','
                    each point is separated by a ';'
                    each list of street points is separated by a '|'-->

        <div id ="street-info" style = "word-wrap: break-word; white-space: pre">
            @for(streetPoint: String <- Populator.getAllStreetPointsAsStr()){
                @streetPoint|
            }
        </div>




        <script>
                var labelMarkers = [];
                var streetMarkers = [];


                //makes it easier for me to guess which label maps to what
                var labelTypeToColor = [
                                        '#17ff00',
                                        '#ff1e00',
                                        '#00fffc',
                                        '#ffb800',
                                        '#b4b4b4',
                                        '#000100',
                                        '#d305ff',
                                        ];

                var streetColor = '#ffffff';


                var currentPositionInLabelEntries = -1;

                // This example requires the Drawing library. Include the libraries=drawing
                // parameter when you first load the API. For example:
                // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">
                var labelEntries;
                var streetEntries;
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 38.8952632, lng: -77.0729659},
                        zoom: 12,
                        streetViewControl: false
                    });

                    labelEntries = document.getElementById('labels-info').innerText.split('|');
                    streetEntries = document.getElementById('street-info').innerText.split('|');

                    for(var i = 0; i < labelEntries.length; i++) {
                        if (labelEntries[i] === "") {
                            continue;
                        }
                        var labelDataSplit = labelEntries[i].split(',');
                        var label = new google.maps.Marker({
                            position: {lat: parseFloat(labelDataSplit[1]), lng: parseFloat(labelDataSplit[2])},
                            icon: {
                                path: google.maps.SymbolPath.CIRCLE,
                                fillOpacity: 0.0,
                                fillColor: labelTypeToColor[parseInt(labelDataSplit[8]) - 1],
                                strokeOpacity: 1.0,
                                strokeColor: labelTypeToColor[parseInt(labelDataSplit[8]) - 1],
                                strokeWeight: 3.0,
                                scale: 5, //pixels
                                zIndex: 1
                            }
                        });

                        label.setMap(null);
                        labelMarkers.push(label);
                    }

                    for(var i = 0; i < streetEntries.length; i++){
                        if (labelEntries[i] === "") {
                            continue;
                        }
                        var streetPointMarkers = [];
                        var streetDataSplit = streetEntries[i].split(';');
                        for(var i1 = 0; i1 < streetDataSplit.length; i1++){
                            if(streetDataSplit[i1] === ""){
                                continue;
                            }
                            var streetPoint = streetDataSplit[i1].split(',');
                            var lat = parseFloat(streetPoint[0]);
                            var lng = parseFloat(streetPoint[1]);
                            var marker = new google.maps.Marker({
                                position: {lat: lat, lng: lng},
                                icon: {
                                    path: google.maps.SymbolPath.CIRCLE,
                                    fillOpacity: 1.0,
                                    fillColor: streetColor,
                                    strokeOpacity: 1.0,
                                    strokeColor: streetColor,
                                    strokeWeight: 3.0,
                                    scale: 5, //pixels
                                    zIndex: 1
                                }
                            });
                            marker.setMap(null);
                            streetPointMarkers.push(marker);
                        }
                        streetMarkers.push(streetPointMarkers);
                    }
                    gotoLabelIndex(0);
                }

                var panorama;


                //functions to handle ground truth data inputs
                //move to indicated pano
                function moveToNextPano(labelDataSplit){
                    //setting map center
                    map.setCenter(new google.maps.LatLng(parseFloat(labelDataSplit[3]), parseFloat(labelDataSplit[4])));

                    //get the street view from the map, set the heading and pitch to the road direction as default
                    panorama = map.getStreetView();
                    panorama.setPosition(new google.maps.LatLng(parseFloat(labelDataSplit[3]), parseFloat(labelDataSplit[4])));
                    panorama.setPov({
                        heading: parseFloat(labelDataSplit[5]),
                        pitch: 0
                    });
                    panorama.setVisible(true);
                }

                function handleLabelNumber(){
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    var labelEntrySplit = labelEntry.split(',');
                    var label_id = parseInt(labelEntrySplit[0]);
                    $( "#label-number" ).text("current label index: " + currentPositionInLabelEntries + " current label_id: " + label_id);
                }

                //returns
                function handleMapMarkers(currPositionInLabelEntries, newPositionInLabelEntries){
                    var correctedNewPositionInLabelEntries = newPositionInLabelEntries;

                    if(newPositionInLabelEntries < 0){
                        correctedNewPositionInLabelEntries = 0
                    }
                    else if(newPositionInLabelEntries >= labelEntries.length){
                        correctedNewPositionInLabelEntries = labelEntries.length - 1;
                    }


                    if(correctedNewPositionInLabelEntries !== currPositionInLabelEntries){
                        if(currPositionInLabelEntries >= 0 && currPositionInLabelEntries < labelEntries.length){
                            labelMarkers[currPositionInLabelEntries].setMap(null);
                            for(var i = 0; i < streetMarkers[currPositionInLabelEntries].length; i++){
                                streetMarkers[currPositionInLabelEntries][i].setMap(null);
                            }
                        }
                        for(var i = 0; i < streetMarkers[correctedNewPositionInLabelEntries].length; i++){
                            streetMarkers[correctedNewPositionInLabelEntries][i].setMap(map);
                        }
                        labelMarkers[correctedNewPositionInLabelEntries].setMap(map);
                    }
                    console.log("new pos " + correctedNewPositionInLabelEntries + " old pos " + currentPositionInLabelEntries + " expected new pos " + newPositionInLabelEntries + " numLabelEntries: " + labelEntries.length);
                    return correctedNewPositionInLabelEntries;
                }

                function gotoLabel(){
                    gotoLabelIndex(parseInt(document.getElementById("label-to-go-to").value));
                }

                function gotoLabelIndex(newPositionInLabelEntries){
                    var newPos = handleMapMarkers(currentPositionInLabelEntries, newPositionInLabelEntries);

                    if(newPos === currentPositionInLabelEntries){
                        return;
                    }
                    currentPositionInLabelEntries = newPos;

                    handleLabelNumber();

                    //parsing data
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    moveToNextPano(labelEntry.split(','));
                }

                //move back one label, move forward one label
                function prevClick(){
                    var newPositionInLabelEntries = handleMapMarkers(currentPositionInLabelEntries, currentPositionInLabelEntries - 1);

                    if(newPositionInLabelEntries === currentPositionInLabelEntries){
                        return;
                    }

                    currentPositionInLabelEntries = newPositionInLabelEntries;

                    handleLabelNumber();

                    //parsing data
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    moveToNextPano(labelEntry.split(','));
                }
                function nextClick(){
                    var newPositionInLabelEntries = handleMapMarkers(currentPositionInLabelEntries, currentPositionInLabelEntries + 1);

                    if(newPositionInLabelEntries === currentPositionInLabelEntries){
                        return;
                    }
                    currentPositionInLabelEntries = newPositionInLabelEntries;

                    handleLabelNumber();

                    //parsing data
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    moveToNextPano(labelEntry.split(','));
                }

                //inputting data to ground truth
                function rightClick(){
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    var labelEntrySplit = labelEntry.split(',');
                    var label_id = parseInt(labelEntrySplit[0]);
                    sendAjaxRequestToModifyGroundTruth(label_id, true);
                }
                function leftClick(){
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    var labelEntrySplit = labelEntry.split(',');
                    var label_id = parseInt(labelEntrySplit[0]);
                    sendAjaxRequestToModifyGroundTruth(label_id, false);
                }

                function sendAjaxRequestToModifyGroundTruth(label_id, is_right){

                    var data = {
                        labelID: label_id,
                        isRight: is_right,
                        isIncorrectStreet: document.getElementById("street-incorrect").checked
                    };

                    $.ajax({
                        async: true,
                        contentType: 'application/json; charset=utf-8',
                        url: "/addLabel",
                        type: 'post',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        success: function (result) {
                            alert("it worked!");
                        },
                        error: function (result) {
                            console.error(result);
                        }
                    });
                    document.getElementById("street-incorrect").checked = false;
                }

                //snap to road or label view
                function roadPanoClick(){
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    var labelEntrySplit = labelEntry.split(',');
                    panorama.setPov({
                        heading: parseFloat(labelEntrySplit[5]),
                        pitch: 0
                    });
                }
                function labelPanoClick(){
                    var labelEntry = labelEntries[currentPositionInLabelEntries];
                    var labelEntrySplit = labelEntry.split(',');
                    panorama.setPov({
                        heading: parseFloat(labelEntrySplit[6]),
                        pitch: parseFloat(labelEntrySplit[7])
                    });
                }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCBNAIxzx31wIKhxMv91i3cM5yK8gDxCk&libraries=drawing&callback=initMap"
        async defer></script>




    </body>

</html>